.black-bg {
    position: relative;
    background-color: black;
    height: 300px; /* Altura personalizada da área preta */
    z-index: 1;
  }

  .bg-image {
    position: relative;
    background-image: url('images/wooden.jpg'); /* Altere o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 57vh; /* Altura personalizada da imagem de fundo */
    z-index: 3;
  }

  .card {
    width: 25%; /* Tamanho relativo */
    height: auto; /* Altura automática para manter a proporção */
    max-width: 250px; /* Largura máxima para evitar que as cartas fiquem muito grandes em telas maiores */
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    position: absolute;
    bottom: 20px; /* Distância do fundo da página */
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 2 / 3; /* Relação de aspecto para manter a proporção */
    background-image: url('images/Carta atras.png'); /* Altere o caminho da sua imagem */
    background-size: cover;
    transition: transform 0.2s; /* Adicionando uma transição suave */
  }


  .card.active {
    transform: translate(-50%, -50%) scale(1.1); /* Aumentando o tamanho da carta em 10% */
  }
  
  .card1 {
    transform: translateX(-150%) rotate(-10deg);
  }
  
  .card2 {
    transform: translateX(-75%) rotate(-5deg);
  }
  
  .card3 {
    transform: translateX(0) rotate(0deg);
  }
  
  .card4 {
    transform: translateX(75%) rotate(5deg);
  }

  .opponent-card {
    width: 15%; /* Tamanho relativo */
    height: auto; /* Altura automática para manter a proporção */
    max-width: 250px; /* Largura máxima para evitar que as cartas fiquem muito grandes em telas maiores */
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    position: absolute;
    bottom: -20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 2 / 3; /* Relação de aspecto para manter a proporção */
    background-image: url('images/Carta atras.png'); /* Altere o caminho da sua imagem */
    background-size: cover;
    cursor: default; /* Definindo o cursor como default para desabilitar interações com o jogador */
    z-index: 2;
  }
  
  .opponent-card:nth-child(1) {
    transform: translateX(-120%) rotate(-10deg);
  }
  
  .opponent-card:nth-child(2) {
    transform: translateX(-70%) rotate(-5deg);
  }
  
  .opponent-card:nth-child(4) {
    transform: translateX(0) rotate(0deg);
  }
  
  .opponent-card:nth-child(3) {
    transform: translateX(50%) rotate(5deg);
  }
  