@keyframes aparecerDoFundo {
  0% {
      transform: translate(80%, -100%) scale(0); /* Longe da tela e pequeno */
      opacity: 0; /* Invisível */
  }
  50% {
      opacity: 1; /* Torna-se visível */
  }
  100% {
      transform: translate(10%, -50%) scale(1); /* Posição final e tamanho normal */
      opacity: 1;
  }
}

.carta-animada {
  position: fixed;
  left: 80px;              /* Posição final na lateral esquerda */
  top: 50%;                /* Centralização vertical */
  transform: translateY(-50%); 
  width: 150px;            /* Tamanho da carta */
  height: auto;
  z-index: 2;
  animation: aparecerDoFundo 1s ease-out forwards; /* Aplica a animação */
}